[submodule "src/library/IRCBot"]
	path = src/library/IRCBot
	url = git://github.com/Marlinc/IRCBot.git
[submodule "src/library/bar-game"]
	path = src/library/bar-game
	url = git://github.com/BotLife/bar-game.git
[submodule "src/library/evalmath"]
	path = src/library/evalmath
	url = git://github.com/BotLife/evalmath.git
[submodule "src/library/default-modules"]
	path = src/library/default-modules
	url = git://github.com/BotLife/default-modules.git
[submodule "src/library/data_getter"]
	path = src/library/data_getter
	url = git://github.com/BotLife/data_getter.git
