[submodule "src/library/IRCBot"]
	path = src/library/IRCBot
	url = git://github.com/Marlinc/IRCBot.git
[submodule "src/library/bar-game"]
	path = src/library/bar-game
	url = git://github.com/BotLife/bar-game.git
[submodule "src/library/system_daemon"]
	path = src/library/system_daemon
	url = git://github.com/kvz/system_daemon.git
